Source: ubuntu-keyboard
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Michael Hasselmann <michaelh@openismus.com>
Build-Depends: debhelper (>= 9),
               doxygen,
               libgl1-mesa-dev | libgl-dev,
               libgles2-mesa-dev,
               libglib2.0-dev,
               libgsettings-qt-dev,
               libhunspell-dev,
               libpinyin4-dev,
               libplatform-api1-dev,
               libpresage-dev,
               libqt5xcbqpa5,
               libxml2-utils,
               maliit-framework-dev (>= 0.99.0+git20130615+97e8335-0ubuntu3),
               pkg-config,
               python3,
               python3-flake8,
               python3-setuptools,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-private-dev,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
               xvfb,
               presage,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/ubuntu-keyboard
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/ubuntu-keyboard/trunk
X-Ubuntu-Use-Langpack: yes

Package: ubuntu-keyboard
Architecture: any
Depends: maliit-framework (>= 0.99.0+git20130615+97e8335-0ubuntu3),
         qtdeclarative5-window-plugin,
         ubuntu-keyboard-data (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard
 Ubuntu Keyboard based on Maliit-Keyboard
 .
 Maliit provides a flexible and cross-platform input method framework. It has a
 plugin-based client-server architecture where applications act as clients and
 communicate with the Maliit server via input context plugins. The communication
 link currently uses D-Bus. Maliit is an open source framework (LGPL 2) with
 open source plugins (BSD).
 .
 Ubuntu-Keyboard on-screen keyboard is a Maliit plugin.

Package: ubuntu-keyboard-data
Architecture: all
Depends: fonts-droid,
         qtdeclarative5-ubuntu-ui-toolkit-plugin,
         ${misc:Depends},
Description: Ubuntu on-screen keyboard data files
 Data files for the Ubuntu virtual keyboard

Package: ubuntu-keyboard-dev
Architecture: all
Depends: ${misc:Depends},
Description: Ubuntu on-screen keyboard - development files

Package: ubuntu-keyboard-tests
Architecture: any
Depends: ubuntu-keyboard (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard tests
 Tests for the Ubuntu virtual keyboard

Package: ubuntu-keyboard-autopilot
Architecture: all
Depends: libautopilot-qt (>= 1.4),
         ${misc:Depends},
         ${python:Depends},
         python3-evdev,
         ubuntu-keyboard (>= ${source:Version}),
         ubuntu-keyboard-arabic (>= ${source:Version}),
         ubuntu-keyboard-azerbaijani (>= ${source:Version}),
         ubuntu-keyboard-bosnian (>= ${source:Version}),
         ubuntu-keyboard-catalan (>= ${source:Version}),
         ubuntu-keyboard-chinese-pinyin (>= ${source:Version}),
         ubuntu-keyboard-croatian (>= ${source:Version}),
         ubuntu-keyboard-czech (>= ${source:Version}),
         ubuntu-keyboard-danish (>= ${source:Version}),
         ubuntu-keyboard-dutch (>= ${source:Version}),
         ubuntu-keyboard-emoji (>= ${source:Version}),
         ubuntu-keyboard-english (>= ${source:Version}),
         ubuntu-keyboard-finnish (>= ${source:Version}),
         ubuntu-keyboard-french (>= ${source:Version}),
         ubuntu-keyboard-german (>= ${source:Version}),
         ubuntu-keyboard-greek (>= ${source:Version}),
         ubuntu-keyboard-hebrew (>= ${source:Version}),
         ubuntu-keyboard-hungarian (>= ${source:Version}),
         ubuntu-keyboard-icelandic (>= ${source:Version}),
         ubuntu-keyboard-italian (>= ${source:Version}),
         ubuntu-keyboard-norwegian-bokmal (>= ${source:Version}),
         ubuntu-keyboard-polish (>= ${source:Version}),
         ubuntu-keyboard-portuguese (>= ${source:Version}),
         ubuntu-keyboard-romanian (>= ${source:Version}),
         ubuntu-keyboard-russian (>= ${source:Version}),
         ubuntu-keyboard-scottish-gaelic (>= ${source:Version}),
         ubuntu-keyboard-serbian (>= ${source:Version}),
         ubuntu-keyboard-slovenian (>= ${source:Version}),
         ubuntu-keyboard-spanish (>= ${source:Version}),
         ubuntu-keyboard-ukrainian (>= ${source:Version}),
         ubuntu-keyboard-tests (>= ${source:Version}),
         ubuntu-ui-toolkit-autopilot
Description: Tests and emulators package for ubuntu-keyboard
 Autopilot tests for the ubuntu-keyboard package



Package: ubuntu-keyboard-arabic
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-ar,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Arabic
 Data files for the Ubuntu virtual keyboard - Arabic

Package: ubuntu-keyboard-azerbaijani
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Azerbaijani
 Data files for the Ubuntu virtual keyboard - Azerbaijani

Package: ubuntu-keyboard-bosnian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Bosnian
 Data files for the Ubuntu virtual keyboard - Bosnian

Package: ubuntu-keyboard-catalan
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         myspell-ca,
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Catalan
 Data files for the Ubuntu virtual keyboard - Catalan

Package: ubuntu-keyboard-chinese-pinyin
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Chinese Pinyin
 Data files for the Ubuntu virtual keyboard - Chinese Pinyin

Package: ubuntu-keyboard-croatian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
	 myspell-hr
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Croatian
 Data files for the Ubuntu virtual keyboard - Croatian

Package: ubuntu-keyboard-czech
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-cs
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Czech
 Data files for the Ubuntu virtual keyboard - Czech

Package: ubuntu-keyboard-danish
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-da,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Danish
 Data files for the Ubuntu virtual keyboard - Danish

Package: ubuntu-keyboard-dutch
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-nl,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Dutch
 Data files for the Ubuntu virtual keyboard - Dutch

Package: ubuntu-keyboard-emoji
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Emoji
 Data files for the Ubuntu virtual keyboard - Emoji

Package: ubuntu-keyboard-english
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-en-us,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - English
 Data files for the Ubuntu virtual keyboard - English

Package: ubuntu-keyboard-finnish
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Finnish
 Data files for the Ubuntu virtual keyboard - Finnish

Package: ubuntu-keyboard-french
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-fr,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - French
 Data files for the Ubuntu virtual keyboard - French

Package: ubuntu-keyboard-german
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-de-de,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - German
 Data files for the Ubuntu virtual keyboard - German

Package: ubuntu-keyboard-greek
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-el-gr,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Greek
 Data files for the Ubuntu virtual keyboard - Greek

Package: ubuntu-keyboard-hebrew
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-he
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Hebrew
 Data files for the Ubuntu virtual keyboard - Hebrew

Package: ubuntu-keyboard-hungarian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-hu,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Hungarian
 Data files for the Ubuntu virtual keyboard - Hungarian

Package: ubuntu-keyboard-icelandic
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Icelandic
 Data files for the Ubuntu virtual keyboard - Icelandic

Package: ubuntu-keyboard-italian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-it
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Italian
 Data files for the Ubuntu virtual keyboard - Italian

Package: ubuntu-keyboard-norwegian-bokmal
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-nb
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Norwegian Bokmål
 Data files for the Ubuntu virtual keyboard - Norwegian Bokmål

Package: ubuntu-keyboard-polish
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-pl,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Polish
 Data files for the Ubuntu virtual keyboard - Polish

Package: ubuntu-keyboard-portuguese
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-pt
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Portuguese
 Data files for the Ubuntu virtual keyboard - Portuguese

Package: ubuntu-keyboard-romanian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-ro,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Romanian
 Data files for the Ubuntu virtual keyboard - Romanian

Package: ubuntu-keyboard-russian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-ru,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Russian
 Data files for the Ubuntu virtual keyboard - Russian

Package: ubuntu-keyboard-slovenian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-sl,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Slovenian
 Data files for the Ubuntu virtual keyboard - Slovenian

Package: ubuntu-keyboard-serbian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-sr,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Serbian
 Data files for the Ubuntu virtual keyboard - Serbian

Package: ubuntu-keyboard-scottish-gaelic
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-gd,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Scottish Gaelic
 Data files for the Ubuntu virtual keyboard - Scottish Gaelic

Package: ubuntu-keyboard-spanish
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-es
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Spanish
 Data files for the Ubuntu virtual keyboard - Spanish

Package: ubuntu-keyboard-swedish
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         hunspell-sv-se,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Swedish
 Data files for the Ubuntu virtual keyboard - Swedish

Package: ubuntu-keyboard-ukrainian
Architecture: any
Depends: ubuntu-keyboard (= ${binary:Version}),
         myspell-uk,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - Ukrainian
 Data files for the Ubuntu virtual keyboard - Ukrainian

Package: qtdeclarative5-ubuntu-keyboard-extensions0.1
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu on-screen keyboard data files - QML plugin
 QMl extension for the Ubuntu virtual keyboard
