#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --fail-missing

override_dh_auto_configure:
	dh_auto_configure -- -recursive \
	                     MALIIT_DEFAULT_PROFILE=ubuntu \
	                     CONFIG+=debug \
	                     CONFIG+=nodoc \
	                     CONFIG+=enable-presage \
	                     CONFIG+=enable-hunspell \
	                     CONFIG+=enable-preedit \
	                     CONFIG+=enable-pinyin \
	                     CONFIG+=enable-qt-mobility

override_dh_auto_test:
	xvfb-run make check
