#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4
ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
export QT_SELECT=qt5-$(DEB_BUILD_MULTIARCH)-$(DEB_HOST_MULTIARCH)
export PKG_CONFIG_PATH=/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig
endif

%:
	dh $@ --fail-missing --with python3 --parallel

override_dh_auto_configure:
	dh_auto_configure -- -recursive \
	                     MALIIT_DEFAULT_PROFILE=lomiri \
	                     CONFIG+=debug \
	                     CONFIG+=nodoc \
	                     CONFIG+=enable-presage \
	                     CONFIG+=enable-hunspell \
	                     CONFIG+=enable-pinyin

override_dh_auto_test:
	python3 -m flake8 .
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
	# Tests write $HOME/.presage/lm.db, make sure $HOME is
	# writable.
	rm -rf $(CURDIR)/debian/test-home
	mkdir -p $(CURDIR)/debian/test-home
	HOME=$(CURDIR)/debian/test-home xvfb-run -a make check
endif

override_dh_clean:
	rm -rf $(CURDIR)/debian/test-home
	dh_clean

override_dh_install:
	# install autopilot tests
	cd tests/autopilot; \
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	cd $(CURDIR)
	# Don't install the other tests
	rm debian/tmp/usr/bin/ut_*
	dh_install -X'*.pyc' --fail-missing
